name: documentation

env:
  # v1.15.1
  HATCH_REF: 19eec091b197fc2fdf22df8c753416a37a458fb0

on:
    push:
    pull_request:
        branches:
            - main
    workflow_call:

defaults:
  run:
    shell: bash

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - uses: actions/setup-python@v5
            with:
              python-version: '3.11'
          - name: Install Hatch
            run:
              pipx install git+https://github.com/pypa/hatch.git@$HATCH_REF
          - name: Build documentation
            run: |
              hatch run mkdocs build
          - name: Upload static webpage files as artifact
            id: deployment
            uses: actions/upload-pages-artifact@v3
            with:
                path: docs/site
