name: linting

env:
  # v1.15.1
  HATCH_REF: 19eec091b197fc2fdf22df8c753416a37a458fb0

on:
    push:
    pull_request:
        branches:
            - main

defaults:
  run:
    shell: bash

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - uses: actions/setup-python@v5
            with:
              python-version: '3.11'
          - name: Install Hatch
            run:
              pipx install git+https://github.com/pypa/hatch.git@$HATCH_REF
          - name: Run quality checks with pre-commit
            run: |
              hatch run pre-commit run --all-files
